
.additional-col {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: 1px solid #712cf94d;
  background-color: #712cf926;
}

.additional-container {
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid #712cf94d;
  background-color: #712cf926;
}